<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <title>Tambah Proyek</title>
</head>

<body>
    <div class="container">
        <div class="text-center my-4">
            <h2>Tambah Proyek</h2>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 60rem;">
                <div class="card-body">
                    <div>
                        <form th:action="@{/proyek/add}" th:object="${proyekDTO}" method="POST">
                            <div class="row my-3">
                                <label for="nama-proyek" class="col-sm-2 fw-bold col-form-label">Nama Proyek</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="nama-proyek" th:field="*{nama}"/>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label for="deskripsi" class="col-sm-2 fw-bold col-form-label">Deskripsi</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="deskripsi" th:field="*{deskripsi}"></textarea>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label for="tanggal-mulai" class="col-sm-2 fw-bold col-form-label">Tanggal Mulai</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-3">
                                    <input class="form-control" type="date" id="tanggal-mulai" th:field="*{tanggalMulai}"/>
                                </div>

                                <label for="tanggal-selesai" class="col-sm-2 fw-bold col-form-label">Tanggal Selesai</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-3">
                                    <input class="form-control" type="date" id="tanggal-selesai" th:field="*{tanggalSelesai}"/>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label for="status" class="col-sm-2 fw-bold col-form-label">Status</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-3">
                                    <select class="form-control" id="status" th:field="*{status}">
                                        <option value="" disabled selected>Status Proyek...</option>
                                        <option th:each="status : ${statusLevel}" th:value="${status}" th:text="${status}"></option>
                                    </select>
                                </div>

                                <label for="developer" class="col-sm-2 fw-bold col-form-label">Developer</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-3">
                                    <select class="form-control" id="developer" th:field="*{developer}">
                                        <option value="" disabled selected>Daftar Developer...</option>
                                        <option th:each="developer: ${listDeveloper}" th:value="${developer.id}" th:text="${developer.nama}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-center m-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="btn btn-primary" href="/">Home</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>