<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
 
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <title>Home</title>
</head>
 
<body>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2>Ubah Proyek</h2>
                    <br>
                    <form th:action="@{/proyek/update}" th:object="${proyekDTO}" method="POST">
                        <input class="form-control" type="hidden" th:field="*{id}"/>

                        Nama Proyek: <br>
                        <input class="form-control" type="text" th:field="*{nama}"/>
                        <br><br>
                        
                        Tanggal Mulai: <br>
                        <input class="form-control" type="date" th:field="*{tanggalMulai}"/>
                        <br><br>
                        
                        Tanggal Selesai: <br>
                        <input class="form-control" type="date" th:field="*{tanggalSelesai}"/>
                        <br><br>
                        
                        Status: <br>
                        <select required class="form-control" th:field="*{status}">
                            <option value="On Going">On Going</option>
                            <option value="Finished">Finished</option>
                        </select>
                        <br><br>
                        
                        Developer: <br>
                        <input required class="form-control" type="text" th:field="*{developer}"/>
                        <br><br>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-primary" href="/">Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

 
</html>