<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
 
<head>
  <meta charset="UTF-8">
  <object th:include= ="~{fragments/common :: js}"  th:remove="tag"></object>
  <object th:include= ="~{fragments/common :: css}"  th:remove="tag"></object>
</head>
 
<body>
  <nav th:replace="~{fragments/navbar :: navbar}"> </nav>
  <div class="container text-center">
    <div class="row pt-5 pb-2">
      <h1>
        <i class="bi bi-kanban"></i>
        Selamat Datang di ManproManpro!
        <i class="bi bi-kanban"></i>
      </h1>
    </div>
    <div class="row">
      <div class="col">
        <a type="button" class="btn btn-primary m-2" href="/proyek/add">Tambah Proyek</a>
        <a type="button" class="btn btn-primary m-2" href="/proyek/viewall">Lihat Semua Proyek</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a type="button" class="btn btn-primary m-2" href="/developer/add">Tambah Developer</a>
        <a type="button" class="btn btn-primary m-2" href="/developer/viewall">Lihat Semua Developer</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a type="button" class="btn btn-primary m-2" href="/pekerja/rest/add">Tambah Pekerja</a>
        <a type="button" class="btn btn-primary m-2" href="/pekerja/rest/viewall">Lihat Semua Pekerja</a>
      </div>
    </div>
  </div>
</body>
 
</html>