<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include= ="~{fragments/common :: js}"  th:remove="tag"></object>
    <object th:include= ="~{fragments/common :: css}"  th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"> </nav>
    <div class="container">
        <div class="text-center my-4">
            <h2>Daftar Developer</h2>
        </div>
        <div th:each="developer: ${listDeveloper}">
            <div class="row justify-content-center m-2">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">
                        <h5 th:text="${developer.nama}" class="card-title row my-3"></h5>
                        <h6 th:text="'Proyek Yang Dikelola : -'" class="card-subtitle row my-3" th:if="${developer.listProyek == null || #lists.size(developer.listProyek) == 0}"></h6>
                        <div th:if="${developer.listProyek != null && #lists.size(developer.listProyek) > 0}">
                            <h6 th:text="'Proyek Yang Dikelola : '" class="card-subtitle row my-3"></h6>
                            <ol>
                                <li th:each="proyek: ${developer.listProyek}" th:text="${proyek.nama}"></li>
                            </ol>
                        </div>

                        <div class="row my-3">
                            <a type="button" class="btn btn-md btn-primary col-sm-2 mx-2"
                               th:href="@{/developer/{idDeveloper}(idDeveloper=${developer.id})}">Detail
                            </a>
                            <a type="button" class="btn btn-md btn-warning col-sm-2 mx-2"
                               th:href="@{/developer/{idDeveloper}/update(idDeveloper=${developer.id})}"> Update
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center m-3">
            <a type="button" class="btn btn-primary m-2" href="/developer/add">Tambah Developer</a>
            <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
        </div>
    </div>
</body>

</html>