<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag "></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag "></object>
    <title>Detail Pekerja</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center my-4">
            <h2>Detail Pekerja</h2>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <div class="row my-4">
                        <h4 class="card-title text-center" th:text="${pekerja.nama}"></h4>
                    </div>

                    <div class="row my-3">
                        <p class="card-text fw-bold col-sm-3">Pekerjaan</p>
                        <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                        <p class="card-text col-sm-8" th:text="${pekerja.pekerjaan}"></p>
                    </div>

                    <div class="row my-3">
                        <p class="card-text fw-bold col-sm-3">Usia</p>
                        <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                        <p class="card-text col-sm-8" th:text="${pekerja.usia}"></p>
                    </div>


                    <div class="row my-3">
                        <p class="card-text fw-bold col-sm-3">Biografi</p>
                        <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                        <p class="card-text col-sm-8" th:text="${pekerja.biografi}"></p>
                    </div>

                    <div class="row my-3">
                        <p class="card-text fw-bold col-sm-3">Proyek Yang Dikerjakan</p>
                        <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                        <p class="card-text col-sm-8"
                            th:if="${pekerja.listProyek == null || #lists.size(pekerja.listProyek) == 0}">-</p>
                    </div>

                    <table id="table-proyek"
                        th:if="${pekerja.listProyek != null && #lists.size(pekerja.listProyek) > 0}" class="table my-3">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">No. </th>
                                <th scope="col" class="text-center">Nama Proyek</th>
                                <th scope="col" class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="proyek, stat: ${pekerja.listProyek}">
                                <th scope="row" th:text="${stat.index + 1}" class="text-center"></th>
                                <td th:text="${proyek.nama}" class="text-center"></td>
                                <td th:text="${proyek.status}" class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center m-3">
                        <a type="button" class="btn btn-primary btn-md" href="/pekerja/viewall">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>