<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include= ="~{fragments/common :: js}"  th:remove="tag"></object>
    <object th:include= ="~{fragments/common :: css}"  th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"> </nav>
<div class="container">
    <div class="text-center my-4">
        <h2>Detail Proyek</h2>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <div class="row my-4">
                    <h4 class="card-title text-center" th:text="${proyek.nama}"></h4>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Deskripsi</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${proyek.deskripsi}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Tanggal Mulai</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${#dates.format(proyek.tanggalMulai, 'dd MMMM yyyy')}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Tanggal Selesai</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${#dates.format(proyek.tanggalSelesai, 'dd MMMM yyyy')}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Status</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${proyek.status}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Nama Developer</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:if="${proyek.developer != null}" th:text="${proyek.developer.nama}"></p>
                    <p class="card-text col-sm-8" th:if="${proyek.developer == null}">-</p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Waktu Dibentuk</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${#dates.format(proyek.CreatedAt, 'dd MMMM yyyy HH.mm')}"></p>
                </div>

                <div class="row my-3">
                    <p class="card-text fw-bold col-sm-3">Terakhir Diubah</p>
                    <p class="card-text fw-bold col-sm-1" style="width: 2%">:</p>
                    <p class="card-text col-sm-8" th:text="${#dates.format(proyek.UpdatedAt, 'dd MMMM yyyy HH.mm')}"></p>
                </div>

                <div th:if="${proyek.listPekerja != null}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Usia</th>
                                <th scope="col">Pekerjaan</th>
                                <th scope="col">Biografi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pekerja : ${proyek.listPekerja}">
                                <td th:text="${pekerja.nama}"></td>
                                <td th:text="${pekerja.usia}"></td>
                                <td th:text="${pekerja.pekerjaan}"></td>
                                <td th:text="${pekerja.biografi}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center m-3">
                    <a type="button" class="btn btn-primary btn-md" href="/proyek/viewall">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>