<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTable Proyek</title>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <style>
        thead {
            background-color: #ffffff !important;
        }

        tbody tr:nth-child(even) {
            background-color: #ffffff !important;
        }

        tbody tr:nth-child(odd) {
            background-color: #f9f9f9 !important; 
        }
    </style>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"> </nav>
    <div class="container">
        <div class="text-center my-4">
            <h2>Daftar Proyek</h2>
        </div>
        <div class="text-center m-3">
            <a type="button" class="btn btn-primary m-2" href="/proyek/add">Tambah Proyek</a>
            <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
        </div>
        <div class="text-center">
            <table id="table" class="text-center">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Developer</th>
                        <th>Tanggal Mulai</th>
                        <th>Tanggal Selesai</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="proyek : ${listProyek}">
                        <td th:text="${proyek.nama}"></td>
                        <td th:text="${proyek.developer.nama}"></td>
                        <td th:text="${proyek.tanggalMulai}"></td>
                        <td th:text="${proyek.tanggalSelesai}"></td>
                        <td th:text="${proyek.status}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [5, 10, 25, 50],
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ entries per page",
                    "search": "Search:",
                    "paginate": {
                        "first": "<<",
                        "previous": "<",
                        "next": ">",
                        "last": ">>"
                    }
                }
            });
        });
    </script>
</body>

</html>