<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include= ="~{fragments/common :: js}"  th:remove="tag"></object>
    <object th:include= ="~{fragments/common :: css}"  th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"> </nav>
    <div class="container">
        <div class="text-center my-4">
            <h2>Daftar Proyek</h2>
        </div>
        <div class="text-center my-4">
            <form action="/proyek/viewall" method="GET" class="form-group row g-3 d-flex justify-content-center align-items-center">
                <div class="col-auto">
                    <input class="form-control" type="search" name="nama" placeholder="Cari nama proyek.." aria-label="Search" th:value="*{nama}">
                </div>
                <div class="col-auto" >
                    <select name="status" class="form-select" aria-label="Status">
                        <option value="" th:selected="${status == ''}">Semua Status</option>
                        <option value="STARTED" th:selected="${status == 'STARTED'}">STARTED</option>
                        <option value="ONGOING" th:selected="${status == 'ONGOING'}">ONGOING</option>
                        <option value="FINISHED" th:selected="${status == 'FINISHED'}">FINISHED</option>
                    </select>

                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </form>
        </div>

        <div th:each="proyek: ${listProyek}">
            <div th:replace="~{fragments/card-proyek :: card(proyek=${proyek})}"></div>
        </div>
        <div class="text-center m-3">
            <a type="button" class="btn btn-primary m-2" href="/proyek/add">Tambah Proyek</a>
            <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
        </div>
    </div>
</body>

</html>