<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
 
<head>
  <meta charset="UTF-8">
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <style>
    .nav-link.active {
        font-weight: bold;
        color: black !important;
    }
  </style>
</head>
 
<body>
  <nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary">ManproManpro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'home'} ? 'active' : 'text-muted'"  th:href="@{/}">Beranda</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'pekerja'} ? 'active' : 'text-muted'" th:href="@{/pekerja/viewall}">Pekerja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'developer'} ? 'active' : 'text-muted'" th:href="@{/developer/viewall}">Developer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'proyek'} ? 'active' : 'text-muted'" th:href="@{/proyek/viewall}">Proyek</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
</body>
 
</html>
